# Workspace is where I store my play video builds
workspace/

# JetBrains IDEs
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# pytest cache
.pytest_cache/

# Pycharm files
*.iml
.idea/

# Jupyter
.ipynb_checkpoints

# OS specific
.DS_Store
Thumbs.db

# Environment configurations
.env
.venv
env/
venv/
ENV/